In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# 列ヘッダー名の設定
col_header = ('HV','Audience','Result','Rank','Savings','Hits','Home Runs','Stolen Bases','Strikeouts',
                     'Hits Allowed','Home Runs Allowed','Runs Allowed','Earned Runs','K')
# csvファイルから取得する列番号のリスト
col_num = [6,7,8,9,10,18,19,20,21,22,23,24,25,26]
# データ取得が可能な年度のリスト
years = [2012,2013,2014,2015,2016,2017,2018]
# チーム名頭文字のリスト
teams = ['Bs','C','D','DB','E','F','G','H','L','M','S','T']

In [24]:
# 勝敗を数値（敗：0 勝：1）へ変換する関数
def classify_victory_or_defeat(result):
    if result == '●':
        return 0
    elif result == '○':
        return 1

In [5]:
# 2012〜2018年の全チームの試合結果DataFrameを作成する関数
def combine_match_results():
    df_all = pd.DataFrame(index=[],columns=[])
    
    for year in years:
        for team in teams:
            # csvファイルのデータをDataFrameへ格納
            df = pd.read_csv('csv/{y}/{y}_{t}_match_results.csv'.format(y=year,t=team),
                                      sep=',',names=col_header,usecols=col_num)

            # 引き分けを除外
            for i in range(len(df)):
                if df.loc[i,'Result'] == '△':
                    df = df.drop(i)

            # 関数match_result_classifyを適用
            df['Result'] = df['Result'].apply(match_result_classify)

            df_all = pd.concat([df_all,df],ignore_index=True)
            
    return df_all

In [8]:
df_all = combine_match_results()

In [30]:
df_all.shape

(12106, 14)

In [13]:
df_all.head(30)

,HV,Audience,Result,Rank,Savings,Hits,Home Runs,Stolen Bases,Strikeouts,Hits Allowed,Home Runs Allowed,Runs Allowed,Earned Runs,K
0,V,"38,561",1,6,-20,7,0,2,11,0,0,0,0,9
1,H,"24,274",1,6,-21,12,0,1,6,6,0,0,0,6
2,H,"18,719",1,6,-22,6,2,0,7,7,0,1,1,10
3,H,"13,829",1,6,-23,5,1,0,9,4,1,1,1,5
4,H,"10,226",1,6,-24,8,1,1,6,7,0,2,2,3
5,V,"28,709",0,6,-25,9,0,1,3,9,1,4,4,4
6,V,"10,348",1,6,-24,10,2,2,4,8,0,0,0,4
7,H,"15,337",1,6,-25,7,1,0,10,9,0,0,0,7
8,H,"14,062",0,6,-26,4,0,1,7,14,0,7,6,6
9,V,"11,295",0,6,-25,3,0,0,6,10,0,5,3,5
10,V,"20,617",0,6,-24,8,0,0,5,11,2,8,8,6
11,V,"12,336",0,6,-23,4,0,0,6,10,0,3,3,8
12,V,"17,076",0,6,-22,9,0,0,7,8,0,4,2,9
13,V,"22,230",0,6,-21,4,1,0,9,13,2,6,6,3
14,V,"27,406",0,6,-20,9,0,1,7,13,0,5,5,6
15,H,"18,833",0,6,-19,7,0,0,12,7,1,3,3,2
16,H,"16,838",0,6,-18,6,0,1,5,10,0,3,3,3
17,H,"11,403",0,6,-17,6,0,0,9,11,0,7,5,8
18,V,"13,673",0,6,-16,4,0,0,5,12,0,8,4,5
19,V,"13,945",0,6,-15,7,0,0,10,6,1,4,4,6
20,V,"38,561",1,6,-20,7,0,2,11,0,0,0,0,9
21,H,"24,274",1,6,-21,12,0,1,6,6,0,0,0,6
22,H,"18,719",1,6,-22,6,2,0,7,7,0,1,1,10
23,H,"13,829",1,6,-23,5,1,0,9,4,1,1,1,5
24,H,"10,226",1,6,-24,8,1,1,6,7,0,2,2,3
25,V,"28,709",0,6,-25,9,0,1,3,9,1,4,4,4
26,V,"10,348",1,6,-24,10,2,2,4,8,0,0,0,4
27,H,"15,337",1,6,-25,7,1,0,10,9,0,0,0,7
28,H,"14,062",0,6,-26,4,0,1,7,14,0,7,6,6
29,V,"11,295",0,6,-25,3,0,0,6,10,0,5,3,5

In [14]:
df_all.tail(30)

,HV,Audience,Result,Rank,Savings,Hits,Home Runs,Stolen Bases,Strikeouts,Hits Allowed,Home Runs Allowed,Runs Allowed,Earned Runs,K
12076,V,"42,851",0,2,2,5,0,1,9,6,1,3,3,7
12077,V,"42,526",1,2,3,7,3,0,7,5,0,0,0,9
12078,H,"46,593",1,2,2,9,0,2,6,15,2,5,5,8
12079,H,"46,638",1,3,1,11,1,4,5,8,0,2,2,6
12080,H,"46,636",0,3,0,9,0,2,6,9,0,5,1,6
12081,H,"46,596",1,2,1,7,0,1,5,8,0,2,2,8
12082,H,"45,924",1,4,0,13,1,0,7,6,0,1,1,9
12083,V,"31,794",1,4,-1,7,1,2,8,8,0,2,1,7
12084,V,"31,819",0,4,-2,6,1,2,6,7,2,5,5,10
12085,V,"31,732",0,4,-1,11,1,2,9,6,1,7,6,8
12086,V,"18,901",1,4,0,9,0,0,4,6,0,2,2,8
12087,H,"46,237",0,3,-1,5,0,0,4,16,2,10,9,6
12088,H,"46,367",0,3,0,9,0,0,6,9,0,3,3,9
12089,H,"44,037",0,3,1,6,0,0,6,11,0,8,8,15
12090,V,"26,904",1,3,2,4,0,0,2,3,0,1,0,4
12091,V,"25,285",1,3,1,8,0,0,7,6,0,3,2,5
12092,H,"44,359",1,4,0,13,1,0,7,6,0,3,3,6
12093,H,"45,613",0,4,-1,5,0,0,8,7,1,6,4,6
12094,H,"39,110",0,4,0,5,1,0,8,13,1,3,3,9
12095,H,"37,186",0,2,1,3,0,0,8,10,0,5,5,13
12096,H,"38,108",1,1,2,6,0,1,8,4,0,1,0,8
12097,H,"46,209",1,3,1,5,0,0,5,7,0,3,3,7
12098,H,"35,655",0,3,0,11,0,0,5,13,0,9,5,11
12099,H,"35,670",1,3,1,4,1,0,7,8,0,1,1,6
12100,H,"35,714",0,4,0,4,1,0,6,10,0,3,3,9
12101,V,"28,312",1,3,1,8,0,0,12,3,0,0,0,13
12102,V,"27,935",1,4,0,8,0,0,5,4,0,1,1,3
12103,V,"45,993",0,4,-1,5,2,0,4,5,1,3,3,13
12104,V,"45,963",0,3,0,12,1,0,9,11,1,8,8,10
12105,V,"46,318",1,2,1,13,2,0,7,8,0,1,1,7

In [22]:
# 指定されたチーム・年度のDataFrameを作成する関数
def make_dataframe(team, year):
    FILENEME_TEMPLATE = "csv/{y}/{y}_{t}_match_results.csv"
    
    # csvファイルの内容をDataFrameに格納
    df = pd.DataFrame(index=[], columns=[])
    df = pd.read_csv(FILENEME_TEMPLATE.format(y=year, t=team),
                              sep=",", names=col_header, usecols=col_num)
    # 勝敗を数値に変換
    df['Result'] = df['Result'].apply(classify_victory_or_defeat)
    
    return df

In [25]:
df_Bs_2018 = make_dataframe("Bs", 2018)

In [29]:
df_Bs_2018.shape

(163, 14)

In [31]:
len(df_Bs_2018)

163

In [32]:
len(df_Bs_2018.columns)

14

In [33]:
df_Bs_2018.size

2282